{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    <form method="POST" action="">
        {% csrf_token %}
        <label for="username">Nazwa użytkownika</label>
        <br>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Hasło</label>
        <br>
        <input type="password" name="password" id="password">
        <br>
        <br>
        <input type="submit" name="Login">
        <br>
        <br>
        Nie masz konta?
        <a href="../register/">Zarejestruj się!</a>
        <br>
    </form>
{% endblock %}