<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    <form method="POST" action="">
        {% csrf_token %}
        <label for="username">username</label>
        <input type="text" name="username" id="username">
        <label for="password">password</label>
        <input type="password" name="password" id="password">
        <input type="submit" name="Login">
        <br>
        Don't have an account?
        <a href="../register/">Sign up!</a>
        <br>
        {{ form.errors }}
</body>
</html>