{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        <br>
        {{ form.username.label }}
        <br>
        {{ form.username }}
        <br>
        {{ form.email.label }}
        <br>
        {{ form.email }}
        <br>
        {{ form.password1.label }}
        <br>
        {{ form.password1 }}
        <br>
        {{ form.password2.label }}
        <br>
        {{ form.password2 }}
        <br>
        <br>
        <input type="submit" name="Create User">
        <br>
        <br>
        Masz już konto?
        <a href="../login/">Zaloguj się!</a>
        <br>
        {{ form.errors }}
    </form>
{% endblock %}